.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 450px;
    height: 350px;;
    background-color: rgba(0, 0, 0, 0.034);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 120px;
    width: 100%;
    max-width: 640px;
    background-color: black;
    border-radius: 20px;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}