.popup{
    position: fixed;
    top: 23px;
    left: 0;
    width: 450px;
    height: 300px;
    color: black;
    background-color:black;
    display: flex;
    font-weight: 800;
    border-radius: 20px;
}

.popup-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    width: 100%;
    max-width: 640px;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 20px;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}