.body{
    background-color: black;
    font-family: "jura";
    width: 1200;
    height: auto;
}
.info{
    background-color: black;
    font-family: "jura";
    height: 5000px;
}

.info .imgtxt{
    width: 98vw;
    height: 100vh;
    background-image: url("/public/Images/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.info header{
    color: white;
    position: absolute;
    width: 410px;
    height: 120px;
    left: 190px;
    top: 250px;
    font-size: 24pt;
}

.info .p1{
    color: white;
    position: absolute;
    width: 410px;
    height: 120px;
    left: 190px;
    top: 300px;
    font-size: 18;
}

.info .btnmore{
    color: black;
    position: absolute;
    width: auto;
    height: auto;
    left: 310px;
    top: 430px;
    font-size: 18;
    background-color: transparent;
    border:none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    transition: 0.1s;
    font-family: "jura";
    border-radius: 4pt;
    border: 1px solid white;
    font-weight: 800;
}
.info .btnmore:hover {
    background-color: white;
    color: black;
    border-radius: 4pt;
    border: 1px solid black;
    font-weight: 800;
  }
  .info .imgtxt-2{
    width: 30vw;
    height: 30vh;
    background-image: url("/public/Images/girl.avif");
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .info .aboutus{
    color: white;
  }

  .info a{
    color: lightblue;
    text-decoration: none;
  }
.info  a:hover{
    background-color: black;
    color: white ;
    font-weight: 800;
}