.table{
    width: 99vw;
    height: 100vh;
    background-color: black;
    font-family: "jura";
}

.table .list {
    background-image: url("/public/Images/working\ out.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 96vw;
    padding-top: 250px;
    list-style: none;
    color: white;
    display: flex;
    padding-top: 70px;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding-bottom: 200px;
}

.table .list .li1 h2{
    color: silver;  
}

.table .list .li1 .gold{
    color: gold;  
}

.table .list .li1 .plat{
    color: #59dbff;  
}

.list p{
    color: #1fff48;

}

.list .red{
    color: #ff5144ee;
    font-size: 16px;
    font-weight: 900;
}

li .price{
    color: white;
    font-size: 18px;
}
.btn-select button{
    background-color: transparent;
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 300;
    border-radius: 12px;
    
}

.btn-select button:hover{
    background-color: rgb(133, 133, 133);
    color: black;
    font-weight: 300;
    transition: 0.3s;
}
.li1{
    width: auto;
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.548);
    backdrop-filter: blur(4px);
    border-radius: 20px;
}

.li1 hr{
    width: 15em;
}



