.top{
  display: flex;
  flex-direction: row;
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.middle div{
  display: flex;
  flex-direction: column;
}
.menu-list ul{
  height: 104px;
  width: 720px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  align-items: center;
}
.butt {
  position: absolute;
  height: 104px;
  width: 72px;
  left: 240px;
  top: 304px;
  background-color: #505150;
  color: white;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


$colors: (
  pulse: #d1c3ca, 
 
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}
li {  
  color: var(--color);
  align-items: center;
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}

//=== Pen styling, ignore
body {
  color: #fff;
  background: hsl(227, 10%, 10%);
  font: 300 1em 'Fira Sans', sans-serif;
}
  
  

// Basic button styles
li {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 { font-weight: 400; }

code { 
  color: #e4cb58;
  font: inherit;
}
.box {
  position: absolute;
  cursor: move;
  color: white;
  max-width: 215px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}